/* Graphic design is my passion. */
body {
  background-color: rgb(195, 195, 195);
  margin: 0;
}
main {
  background-color: rgb(74, 73, 73);
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
p,
span,
h1,
div {
  cursor: default;
}

/* Red Area = for clicking */
div#click-area {
  position: relative;
  background-image: url('./assets/brick.jpg');
  background-size: 150%;
  width: 30%; /*28.5 for roughly 2:4:1*/
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(52, 52, 52);
}
div#counter {
  background-image: url('./assets/metal-v.png');
  background-size: 100% 100%;
  border: 0.6vmin solid rgb(197, 197, 197);
  border-radius: 25px;
  aspect-ratio: 3;
  height: 15%;
  margin-top: 2%;
  text-align: center;
  font-size: 2.5vmin;
  font-weight: 600;
}
#counter-num {
  margin-top: 3%;
  font-size: 4vmin;
}
div#main-item {
  border-radius: 25vmin;
  aspect-ratio: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#main-item:hover {
  transform: scale(1.03);
  transition: 1s;
}
#banana-bread-item {
  box-shadow: inset 0 0 2.5vmin rgb(255, 255, 255);
  border-radius: 25vmax;
  aspect-ratio: 1;
  width: 100%;
  cursor: pointer;
}
@keyframes doabarrelroll {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#cursor-wrap {
  position: absolute;
  width: 1px;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* translation */
  animation: 48s doabarrelroll linear infinite normal;
}
.cursor {
  /* 23w/17h */
  position: absolute;
}

#banana-bread-item:hover {
  animation: 64s doabarrelroll infinite linear normal;
}
div#click-footer {
  background-image: url('./assets/brick2.jpg');
  background-size: 150%;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vmin;
  -webkit-text-stroke: 0.3vmin black;
  color: rgb(226, 226, 226);
}

/* Green Area = for options & view progress */
div#center-piece {
  position: relative;
  background-color: green;
  background-image: url('./assets/wallpaper.jpg');
  border: 1vmin solid rgb(26, 26, 26);
  border-style: none solid none;
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div#center-piece::-webkit-scrollbar {
  display: none;
}
#opt-bar {
  background-color: rgb(41, 41, 41, 0.4);
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div#opt-bar::-webkit-scrollbar {
  display: none;
}
.option {
  background-color: rgb(235, 235, 235);
  border: 0.35vmin solid rgb(37, 37, 37);
  border-radius: 5px;
  box-shadow: inset -1vmin -1vmin 2vmin;
  margin: 0 2.5%;
  height: 90%;
  min-width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}
.upgrade_visual_area {
  background-color: rgb(0, 56, 0);
  margin: 2% 2%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.upgrade_visual_name {
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
}
.upgrade_visual {
  background-color: rgb(0, 30, 0);
  flex-grow: 1;
}

/* Blue Area = for buying upgrades & viewing product bar */
div#upgrade-bar {
  background-image: url('./assets/wood-plank.jpg');
  background-size: 100%;
  background-attachment: local;
  width: 24%; /*14.2% for roughly 2:4:1*/
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div#upgrade-bar::-webkit-scrollbar {
  display: none;
}
#store-sign {
  background-image: url('./assets/sign.jpg');
  background-size: 100% 100%;
}
#store-name {
  margin: 0;
  font: bold 8vmin arial;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.2rem black;
}
#buy-sell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bs_btn {
  background-image: url('./assets/stone.jpg');
  border: 0.4vmin solid rgb(74, 73, 73);
  border-radius: 5px;
  max-height: 98%;
  margin: 0 14%;
  cursor: pointer;
}
.upgrade {
  background-image: url('./assets/wood.jpg');
  background-size: cover;
  border: 0.8vmin solid rgb(88, 88, 88);
  margin: 4% 2%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.upgrade:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.upgrade_text {
  margin: 0;
  cursor: pointer;
}

/* Menus */
.overlay {
  font-family: arial;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionMenu {
  background-color: rgb(202, 202, 202);
  border: 0.45vmin solid black;
  height: 76%;
  width: 92%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column;
}
.optionTitle{
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.closeButton {
  background-color: none;
  color: red;
  border-color: red;
  font-weight: 600;
  margin: 0.5% 0.5%;
  min-width: 4%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  align-self: flex-end;
  flex-grow: 0;
  cursor: pointer;
}
/* Stats */
#stats-area{
  align-self: stretch;
  padding: 5%;
}
.statsText{
  font-size: 1.2rem;
  margin: 1%;
}
/* Achievements  */
#achievements-area {
  /* background-color: blue; */
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5%;
  gap: 3%;
  flex-wrap: wrap;
}
.achieveBox {
  aspect-ratio: 1/1;
  position: relative;
  width: 15%;
  margin: 2% 0%;
  background-color: white;
  border: 0.8vmin solid black;
  border-radius: 10%;
  text-align: center;
  cursor: pointer;
}
.achLocked {
  background-image: url(./assets/locked-achieve.png);
  background-size: contain;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 12vw;
  background-color: rgb(60, 60, 60);
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 0.2vmin 0;
  border-radius: 0.8vmin;
  border: 0.5vmin solid white;

  position: absolute;
  z-index: 4;
  cursor: pointer;
  top: 120%;
  left: -70%;
}
.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%;
  left: calc(50% - 0.9vmin);
  border: 1.8vmin solid;
  border-color: transparent transparent white transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltipDesc {
  color: lightgrey;
  font-weight: 10;
}
/* Settings */
#settings-save-area{
  align-self: stretch;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.settingsButton{
  background-color: rgba(248, 253, 173, 0.87);
  aspect-ratio: 4/1;
  font-size: 90%;
  font-weight: 600;
  width: 22%;
  border-radius: 1.2vmin;
  cursor: pointer;
}
.settingsButton:hover{
  transform: scale(1.15);
}
.dangerButton:hover{
  background-color: rgb(184, 0, 0);
  color: white;
}